#------------------GLOBAL-------------------
dev = ens33
# mode can be skb, native, drv, hw
attach_mode = skb
black_ip_duration = 3600
#------------------SYN-----------------------
syn_threshold = 200000
syn_burst_pkt = 20
syn_burst_count_per_sec = 10
syn_fixed_threshold = 2000
syn_fixed_check_duration = 15
challenge_timeout = 3
#------------------ACK-----------------------
ack_threshold = 200000
ack_burst_pkt = 200
ack_burst_count_per_sec = 100
ack_fixed_threshold = 2000
ack_fixed_check_duration = 15
#------------------RST-----------------------
rst_threshold = 200000
rst_burst_pkt = 20
rst_burst_count_per_sec = 10
rst_fixed_threshold = 2000
rst_fixed_check_duration = 15
#------------------ICMP-----------------------
icmp_threshold = 200000
icmp_burst_pkt = 20
icmp_burst_count_per_sec = 10
icmp_fixed_threshold = 2000
icmp_fixed_check_duration = 15
#------------------UDP------------------------
udp_threshold = 200000
udp_burst_pkt = 20
udp_burst_count_per_sec = 10
udp_fixed_threshold = 2000
udp_fixed_check_duration = 15
#------------------GRE------------------------
gre_threshold = 200000
gre_burst_pkt = 20
gre_burst_count_per_sec = 10
gre_fixed_threshold = 2000
gre_fixed_check_duration = 15
----------------------------------------------
