#------------------GLOBAL-------------------
dev = ens33
# mode can be skb, native, drive, hw
attach_mode = skb
black_ip_duration = 3600
#------------------SYN-----------------------
syn_threshold = 100000
syn_burst_pkt = 5
syn_burst_count_per_sec = 2
syn_fixed_threshold = 1000
syn_fixed_check_duration = 15
challenge_timeout = 3
#------------------ACK-----------------------
ack_threshold = 100000
ack_burst_pkt = 100
ack_burst_count_per_sec = 200
ack_fixed_threshold = 1000
ack_fixed_check_duration = 15